@charset "utf-8";


/* -------------------------------------------------------------------------- */

/* Common Stuff */

/* Color Scheme */
/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=3F51B5&secondary.color=FF4081&primary.text.color=ffffff */

* {
  /* border-box - includes content, padding and border */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	line-height: 1.15;
}

body,
td,
th,
p {
  font-family: Roboto, sans-serif;
	/* Set to default browser size */
	font-size: 16px;
}

body {
	margin: 0;
  background-color: #fafafa;
  color: #000000;
}

a img{
	border: none 0px #fff;
}

/* Not setting block level elements */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements */


/* -------------------------------------------------------------------------- */

/*
 * Responsive Web Design
 *
 * https://developers.google.com/web/fundamentals/design-and-ux/responsive/
 * https://www.w3.org/TR/css-flexbox-1/
 * https://developers.google.com/web/ilt/pwa/lab-responsive-design
 * https://material.io
 * https://material-components-web.appspot.com/
 * http://jeffbridgforth.com/aligning-last-child-in-flexbox-grid/
 */

/* Prevent accidentally overflowing the viewport */
img,
embed,
object,
video {
  max-width: 100%;
}

/* Flexbox Parent - Flex Container
 *
 * display: flex defines a flex container (inline or block depending on the
 * given value. It enables a flex context for all its direct children.
 * It enables a flex context for all its direct children.
 * flex-direction establishes the main-axis, thus defining the direction
 * flex items are placed in the flex container.
 * flex-flow applies to the parent flex container element and is a shorthand
 * for flex-direction and flex-wrap properties, which together define
 * the flex container's main and cross axes. Default is row nowrap
 * flex: no
 * Flexbox Child - Flex Items
 * Tip: a margin set to `auto` in a flex container absorbs extra space.
 * Setting a vertical margin of auto will make the item perfectly centered
 * in both axis.
 * no margin: auto or the magic stuff for flex items
 * Auto margins expand to absorb extra space in the corresponding dimension
 * Please remark that float, clear and vertical-align have no effect
 * on flex items.
 */

/* Flexbox Wrapper */
.wrapper {
  margin: 0;
  padding: 0;
  display: flex; /* or inline-flex */
  flex-flow: row wrap; /* flex items will all try to fit onto one line. */
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
	/* flex-basis: 100% */
	/* flew-grow: 1 */
	/* flex-shrink: 1 */
  flex: 1 100%;
}


/* -------------------------------------------------------------------------- */

/* Material Design - App Bar */
/* Mobile Portrait: 56dp, Tablet/Desktop: 64dp / pixels = 4rem */
.nav {
  width: 100%;
  height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
  text-transform: uppercase;
  /* Primary color - Indigo */
  background-color: #002984;
}

.nav-title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.25em;
  text-decoration: none;
  color: #ffffff;
}

.nav-title:hover, .nav-title:focus {
  font-weight: 400;
  letter-spacing: 0.275em;
}

/* nice tap targets */
.nav a, button {
  min-width: 48px;
  min-height: 48px;
}


/* -------------------------------------------------------------------------- */

.google-maps {
  width: 100%;
	height: 40vh;
}


/* -------------------------------------------------------------------------- */

.restaurants-filter {
	height: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  background-color: #3f51b5;
}

.restaurants-filter select {
	width: calc(50% - 1em);
	height: 1.75rem;
	font-size: 1rem;
	background-color: rgb(255, 255, 255);
	border: none;
	outline: none;
}


/* -------------------------------------------------------------------------- */

/* To get a really good layout we should combine it with CSS Grid */
/* space-evenly doesn't look great when there are only a few restaurants */
/* to be shown but a real app should have lots of restaurants ;-) */

/* https://material.io/guidelines/components/cards.html */

.restaurant-cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .restaurant-card */
.restaurant-card {
  min-width: 240px;
  width: 100%;
  margin: 0.75rem;
  display: flex;
  flex-direction: column; /* mobile first */
  border-radius: 2px;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	background-color: rgb(255, 255, 255);
}

#restaurants-list .restaurant-img {
  /* background-color: #ccc; */
  /* display: block; */
  /* margin: 0; */
  /* max-width: 100%; */
  /* min-height: 248px; */
  /* min-width: 100%; */
}

.card-primary {
  padding: 1rem;
}

.card-title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}

.card-subtitle {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.00714em;
  color: rgba(0, 0, 0, 0.54);
}

.card-secondary {
  padding: 0 1rem 8px 1rem;
}

.card-secondary-content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01786em;
  font-style: normal;
  color: rgba(0, 0, 0, 0.54);
}

.card-actions {
  /* nice tap targets */
  min-width: 48px;
  min-height: 52px;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-actions-link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.card-actions-link:hover, .card-actions-link:focus {
  /* Secondary Color - Pink */
  color: #ff4081;
}


/* -------------------------------------------------------------------------- */

/* breadcrumb */

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* -------------------------------------------------------------------------- */

/* ====================== Restaurant Details ====================== */
.inside header {
  /* position: fixed; */
  /* top: 0; */
  /* width: 100%; */
  /* z-index: 1000; */
}
.inside #map-container {
  /* background: blue none repeat scroll 0 0; */
  /* height: 87%; */
  /* position: fixed; */
  /* right: 0; */
  /* top: 80px; */
  /* width: 50%; */
}
.inside #map {
  /* background-color: #ccc; */
  /* height: 100%; */
  /* width: 100%; */
}
.inside #footer {
  /* bottom: 0; */
  /* position: absolute; */
  /* width: 50%; */
}
#restaurant-name {
  color: #f18200;
  /* font-family: Arial,sans-serif; */
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}




/* -------------------------------------------------------------------------- */

/* footer */

.footer {
  width: 100%;
  height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  text-transform: uppercase;
  /* Secondary Color - Blue Grey */
  background-color: #757de8;
  box-shadow: 0 -0.1875rem 0.125rem #efefef;
}

.footer-content {
  padding: 1rem;
  font-size: 0.75rem;
  /* font-weight: 300; */
  /* letter-spacing: 0.25em; */
  letter-spacing: 0.05em;
  color: #000000;
}

.footer-link {
  text-decoration: none;
  color: #000000;
}

.footer-link:hover, .footer-link:focus {
  color: #ffffff;
}


/* -------------------------------------------------------------------------- */

/*
 * Breakpoints
 * https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
 *
 * Use a media query when the browser's width becomes xrem (y pixels at
 * browser's default font size or x times the default font size in the user's
 * browser).
 * 480, 600, 840, 960, 1280
 */

/*
 * 0 to 479 pixels, breakpoint at 480 pixels = 30rem
 */
@media screen and (max-width: 29.9375rem) {
  .wrapper {
    max-width: 29.9375rem;
  }
	.restaurants-list {
		flex-direction: column;
	}
	.restaurants-filter {
		height: 4.75rem;
		flex-direction: column;
	}
	.restaurants-filter select {
		width: 90%; /* fallback if needed */
		width: calc(100% - 1em);
	}
  .footer-content {
    font-size: 0.55rem; /* from 0.75rem */
    font-weight: 300;
    letter-spacing: 0.075em; /* from 0.05em */
  }
}

/*
 * 480 to 599 pixels, breakpoint at 600 pixels = 37.5rem
 */
@media screen and (min-width: 30rem) and (max-width: 37.4375rem) {
  .wrapper {
    max-width: 37.4375rem;
  }
	.restaurants-filter select {
		width: calc(50% - 1em);
	}
  .restaurant-card {
    margin: 1rem;
  }
  .footer-content {
    font-size: 0.65rem; /* from 0.75rem */
    font-weight: 300;
    letter-spacing: 0.075em; /* from 0.05em */
  }
}

/*
 * 600 to 839 pixels, breakpoint at 840 pixels = 52.5rem
 */
@media screen and (min-width: 37.5rem) and (max-width: 52.4375rem) {
  .wrapper {
    max-width: 52.4375rem;
  }
	.restaurants-filter select {
		width: calc(45% - 1em);
	}
  .restaurant-cards {
    flex-direction: row;
  }
  .restaurant-card {
    width: 45%; /* 2 cards */
  }
}

/*
 * 840 to 959 pixels, breakpoint at 960 pixels = 60rem
 */
@media screen and (min-width: 52.5rem) and (max-width: 59.9375rem) {
  .wrapper {
    max-width: 59.9375rem;
  }
	.restaurants-filter select {
		width: calc(40% - 1em);
	}
  .restaurant-cards {
    flex-direction: row;
  }
  .restaurant-card {
    width: 45%; /* 2 cards */
  }
}

/*
 * 960 to 1279 pixels, breakpoint at 1280 pixels = 80rem
 */
@media screen and (min-width: 60rem) and (max-width: 79.9375rem) {
  .wrapper {
    max-width: 79.9375rem;
  }
	.restaurants-filter select {
		width: calc(35% - 1em);
	}
  .restaurant-cards {
    flex-direction: row;
  }
  .restaurant-card {
    width: 30%; /* 3 cards */
  }
}

/*
 * 1280 pixels / 80rem and beyond
 */
@media screen and (min-width: 80rem) {
	.restaurants-filter select {
		width: calc(30% - 1em);
	}
  .restaurant-cards {
    flex-direction: row;
  }
  .restaurant-card {
    width: 22.5%; /* 4 cards */
  }
}
